<a href="https://colab.research.google.com/github/nikhils2304/21CSS101J-RA2211042010037-Python/blob/main/RA2211042010037.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("Hello world!")

Hello world!

In [ ]:
a = "Hi"
print (a * 5)

HiHiHiHiHi

In [ ]:
p = 2000
r = 5
t = 2
si = (p*r*t)/100
print ("simple interest = ",si)

simple interest =  200.0

In [ ]:
if 5 > 2:
  print("Five is greater than two!")
else: 
    print("Five is not greater than two")

Five is greater than two!

In [ ]:
x = 5
print(type(x)) #scanning datatype

<class 'int'>

In [ ]:
x = "Hello World"
print(len(x)) #length of a string

11

In [ ]:
txt = "Hello World"
x = txt[0:3] #extracting particular part of a string
print (x)

Hel

In [ ]:
txt = " Hello World "
x = txt.strip() #removing whitespaces from a string
print (x)

Hello World

In [ ]:
txt = " Hello World "
x = txt.upper() #ucase of string
print (x)

 HELLO WORLD

In [ ]:
txt = "Hello World"
txt = txt.replace("H","J") #replacing characters in a string
print (txt)

Jello World

In [ ]:
age = 36
txt = "My name is John, and I am {}" #syntax to add a placeholder
print(txt.format(age))

My name is John, and I am 36

In [ ]:
fruits = ["apple", "banana"]
if "apple" in fruits:
  print("Yes, apple is a fruit!") #in operator

Yes, apple is a fruit!

In [ ]:
if 5 != 10:
  print("5 and 10 is not equal") #inequality operator

5 and 10 is not equal

In [ ]:
if 5 == 10 or 4 == 4:
  print("At least one of the statements is true") #or operator

At least one of the statements is true

In [ ]:
fruits = ["apple", "banana", "cherry"] #accessing a list
print(fruits[1])

banana

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits[0] = "kiwi" #replacing individual items of a list
print(fruits)

['kiwi', 'banana', 'cherry']

In [27]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']